requests
PyMuPDF
chromadb
sentence-transformers

llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-llms-groq
llama-index
llama-index-retrievers-bm25
llama-index-storage-chat-store-mongo

ragas
datasets
langchain-groq
langchain-huggingface

pymongo

streamlit
nest_asyncio
